<%= form_with model: [ klass, assignment ],
  html: { multipart: true }, class: "flex justify-center" do |f| %>
  <fieldset class="fieldset bg-base-200 border-base-300 rounded-box border p-4 w-xl">
    <%= f.label :title, "Title", class: "label" %>
    <%= f.text_field :title, class: "input w-full" %>

    <%= f.label :description, "Description", class: "label" %>
    <%= f.rich_text_area :description, class: "input w-full" %>

    <%= f.label :file, "File", class: "label" %>
    <%= f.file_field :file, class: "file-input w-full" %>

    <%= f.label :accept_content_types, "Accepted File Types", class: "label" %>
    <%= f.select :accept_content_types,
        options_for_select(
          [
            ["PDF (.pdf)", "application/pdf"],
            ["Word Document (.docx)", "application/vnd.openxmlformats-officedocument.wordprocessingml.document"],
            ["ZIP Archive (.zip)", "application/zip"],
            ["Image (.png, .jpg)", "image/png"],
            ["Text File (.txt)", "text/plain"],
            ["Audio (.mp3, .wav, .ogg)", "audio/*"]
          ],
          assignment.accept_content_types
        ),
        {},
        { multiple: true, class: "w-full h-full" } %>
    <%= f.label "Hold Ctrl to select multiple types", class: 'label' %>

    <%= f.label :deadline, "Deadline", class: "label" %>
    <%= f.datetime_field :deadline, class: "input w-full" %>

    <%= f.label :max_score, "Max score", class: "label" %>
    <%= f.number_field :max_score, class: "input w-full" %>

    <%= f.label :weight, "Weight", class: "label" %>
    <%= f.number_field :weight, step: :any, class: "input w-full" %>

    <% if assignment.errors.any? %>
      <span class="text-error">error:</span>
      <ul>
        <% assignment.errors.full_messages.each do |msg| %>
          <li class="text-error"><%= msg %></li>
        <% end %>
      </ul>
    <% end %>

    <%= tag.btn f.submit, class: "btn btn-neutral mt-2" %>

    <%= link_to "Cancel", :back, class: 'btn btn-error mt-2' %>
  </fieldset>
<% end %>
