<% if @assignments.any? %>
  <ul>
    <% @assignments.each_with_index do |assignment, i| %>
      <li>
        <h1 class="flex items-center gap-2">
          <%= tag.span assignment.title, class: 'text-secondary text-2xl font-bold' %>
          <%= tag.span "/#{assignment.max_score}", class: 'badge badge-lg badge-secondary' %>
          <%= tag.span "x#{assignment.weight}", class: 'badge badge-lg badge-secondary badge-soft' %>
        </h1>
        <%= assignment.description %>

        <%= format_timestamp(assignment) %>

        <% if assignment.file.attached? %>
          <%= tag.a href: url_for(assignment.file), target: "_blank", rel: "noopener", class: 'btn btn-neutral btn-sm mt-2' do %>
            <%= mi "download" %>
          <% end %>
        <% end %>
      </li>

      <div class="flex justify-between mt-2">
        <section class="flex gap-1">
          <%= link_to t("shared.buttons.submissions"), [ @klass, assignment, :submissions ], class: 'btn btn-sm btn-accent' if @user.teacher? || @user.owner? %>
          <%= link_to t("shared.buttons.submit"), [ :new, @klass, assignment, :submission ], class: 'btn btn-sm btn-accent' if policy(Submission.new(assignment: assignment)).new? %>
          <%= btn_link [ @klass, assignment ], t("shared.buttons.details"), icon: :subject, classes: 'btn-sm' %>
        </section>

        <section class="flex gap-1">
          <%= btn_link [ :edit, @klass, assignment ], nil, icon: :edit, classes: 'btn-sm' if policy(assignment).edit? %>
          <% if policy(assignment).destroy? %>
            <%= button_to [ @klass, assignment ], method: :delete, data: { turbo_confirm: t("shared.confirm_delete") }, class: 'btn btn-error btn-sm' do %>
              <%= mi "delete", outlined: true %>
            <% end %>
          <% end %>
        </section>
      </div>
      <%= tag.div class: 'divider mt-0' if i < @assignments.length-1 %>
    <% end %>
  </ul>

  <div class="mt-4 flex justify-center">
    <%= paginate @assignments, window: 2, params: request.query_parameters %>
  </div>
<% else %>
  <span class="flex justify-center opacity-80"><%= t("assignments.index.no_assignments") %></span>
<% end %>
