<p><%= t("mailers.users.invite.hi", name: @user.name) %></p>

<p>
  <%= t("mailers.users.invite.body_html", role: @user.role.capitalize).html_safe %>
</p>

<p>
  <%= t("mailers.users.invite.instructions") %>
</p>

<p>
  <%= link_to t("mailers.users.invite.link_text"), edit_password_url(@user.password_reset_token) %>
</p>

<p>
  <%= t("mailers.users.invite.footer") %>
</p>
