<%= tag.p t("submissions.index.submissions_for", title: @assignment.title), class: 'text-2xl font-semibold text-secondary' %>
<%= @assignment.description if @assignment.description? %>
<%= tag.div "#{t("assignments.attributes.deadline")}: #{l(@assignment.deadline, format: :long)}", class: 'badge badge-warning' %>
<%= tag.div "#{t("shared.labels.uploaded")}: #{l(@assignment.created_at, format: :long)}", class: 'badge badge-secondary badge-soft' %>

<div class="divider"></div>

<% if @submissions.any? %>
  <ul class="w-full">
    <% @submissions.each_with_index do |submission, i| %>
      <li>
        <p>
          <%= tag.span submission.user.name, class: 'text-lg font-semibold' %>
          <%= mail_to submission.user.email_address, class: 'opacity-80 link link-hover' %>
        </p>

        <% if submission.score? %>
          <%= tag.p "#{submission.score}/#{submission.assignment.max_score}", class: 'badge badge-secondary badge-lg' %>
          <br>
        <% else %>
          <%= tag.p t("submissions.status.not_graded"), class: 'opacity-80 italic' %>
        <% end %>

        <%= submission.notes if submission.notes? %>

        <% if submission.submission_file.attached? %>
          <%= tag.a href: url_for(submission.submission_file), target: "_blank", rel: "noopener", class: 'btn btn-sm mt-2' do %>
            <%= mi "download" %>
          <% end %>
        <% end %>

        <div class="flex justify-between mt-2">
          <section class="flex gap-1">
            <%= link_to t("shared.buttons.grade"), [ :grade, @klass, submission ], class: 'btn btn-sm btn-accent' if policy(submission).grade? %>
            <%= btn_link [ @klass, submission ] , t("shared.buttons.details"), icon: :subject, classes: 'btn-sm' %>
          </section>

          <section class="flex gap-1">
            <%= btn_link [ :edit, @klass, submission ], nil, icon: :edit, classes: 'btn-sm' if policy(submission).edit? %>
            <% if policy(submission).destroy? %>
              <%= button_to [ @klass, submission ], method: :delete, data: { turbo_confirm: t("shared.confirm_delete") }, class: 'btn btn-error btn-sm' do %>
                <%= mi "delete", outlined: true %>
              <% end %>
            <% end %>
          </section>
        </div>
        <%= tag.div class: 'divider mt-0' if i < @submissions.length-1 %>
      </li>
    <% end %>
  </ul>

  <div class="mt-4 flex justify-center">
    <%= paginate @submissions, window: 2, params: request.query_parameters %>
  </div>
<% else %>
  <span class="flex justify-center opacity-80"><%= t("submissions.index.no_submissions") %></span>
<% end %>
