<div class="flex flex-col gap-1">
  <h1 class="flex items-center gap-2">
    <%= tag.span @submission.assignment.title, class: 'font-bold text-secondary text-2xl' %>
    <%= tag.span "/#{@submission.assignment.max_score}", class: 'badge badge-lg badge-secondary' %>
    <%= tag.span "x#{@submission.assignment.weight}", class: 'badge badge-lg badge-secondary badge-soft' %>
  </h1>

  <%= tag.p @submission.assignment.description, class: 'text-lg opacity-80' if @submission.assignment.description? %>
</div>

<div class="divider"></div>

<%= render "form", klass: @klass, assignment: @assignment, submission: @submission %>
