<%= form_with url: password_path(params[:token]), method: :put, class: "flex justify-center" do |f| %>
  <fieldset class="fieldset bg-base-200 border-base-300 rounded-box border p-4 min-w-xs">
    <legend class="fieldset-legend text-xl">Update your password</legend>

    <%= f.label :password, "New Password", class: "label" %>
    <%= f.password_field :password, class: "input w-full", required: true, autocomplete: "new-password", placeholder: "Enter new password", maxlength: 72 %>

    <%= f.label :password_confirmation, "Confirm Password", class: "label" %>
    <%= f.password_field :password_confirmation, class: "input w-full", required: true, autocomplete: "new-password", placeholder: "Repeat new password", maxlength: 72 %>

    <% if flash[:alert] %>
      <span class="text-error">error:</span>
      <ul>
        <li class="text-error"><%= flash[:alert] %></li>
      </ul>
    <% end %>

    <%= tag.btn f.submit("Save"), class: "btn btn-neutral mt-2" %>
    <%= link_to "Cancel", :back, class: "btn btn-error mt-2" %>
  </fieldset>
<% end %>
