<%= form_with url: password_path(params[:token]), method: :put, class: "flex justify-center" do |f| %>
  <fieldset class="fieldset bg-base-200 border-base-300 rounded-box border p-4 w-xs">
    <legend class="fieldset-legend text-xl"><%= t("passwords.edit.title") %></legend>

    <%= f.label :password, t("passwords.edit.password_placeholder"), class: "label" %>
    <%= f.password_field :password, class: "input w-full", required: true, autocomplete: "new-password", placeholder: t("passwords.edit.password_placeholder"), maxlength: 72 %>

    <%= f.label :password_confirmation, t("passwords.edit.password_confirmation_placeholder"), class: "label" %>
    <%= f.password_field :password_confirmation, class: "input w-full", required: true, autocomplete: "new-password", placeholder: t("passwords.edit.password_confirmation_placeholder"), maxlength: 72 %>

    <% if flash[:alert] %>
      <span class="text-error"><%= t("errors.template.header", count: 1) %>:</span>
      <ul>
        <li class="text-error"><%= flash[:alert] %></li>
      </ul>
    <% end %>

    <%= f.submit t("passwords.edit.submit"), class: "btn btn-neutral mt-2" %>
  </fieldset>
<% end %>
