<%= form_with model: course, class: "flex justify-center" do |form| %>
  <fieldset class="fieldset bg-base-200 border-base-300 rounded-box border p-4 w-xl">
    <%= form.label :name, class: 'label' %>
    <%= form.text_field :name, required: true, class: 'input w-full' %>

    <%= form.label :number, class: 'label'  %>
    <%= form.text_field :number, class: 'input w-full' %>

    <%= form.label :description, class: 'label'  %>
    <%= form.rich_text_area :description, class: 'textarea w-full' %>

    <% if course.errors.any? %>
      <span class="text-error">error:</span>
      <ul>
        <% course.errors.full_messages.each do |msg| %>
          <li class="text-error"><%= msg %></li>
        <% end %>
      </ul>
    <% end %>

    <%= tag.btn form.submit, class: 'btn btn-neutral mt-2' %>

    <%= link_to "Cancel", :back, class: 'btn btn-error mt-2' %>
  </fieldset>
<% end %>
