<% content_for :dashboard_actions do %>
  <% if @klass.present? && @klass.persisted? %>
    <div class="flex justify-between items-center">
      <% back_route = @user.student? ? [ :klasses ] : [ @klass.course, :klasses ] %>
      <%= btn_link back_route, nil, icon: :arrow_back, classes: 'btn-xs btn-secondary' %>

      <div class="flex gap-1">
        <%= btn_link [ :edit, @klass ], nil, icon: :edit, classes: 'btn-xs' if policy(@klass).edit? %>
        <% if policy(@klass).destroy? %>
          <%= button_to @klass, method: :delete, data: { turbo_confirm: t("shared.confirm_delete") }, class: 'btn btn-xs btn-error' do %>
            <%= mi "delete", outlined: true %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="divider m-0"></div>

    <div class="flex flex-col">
      <%= tag.p "#{@klass.course.name} #{@klass.course.number} - #{t("klasses.index.class_label", code: @klass.code)}", class: 'text-2xl font-semibold' %>
      <%= @klass.course.description %>
    </div>

    <div class="divider m-0"></div>

    <div class="flex gap-1 overflow-x-auto">
      <div class="join">
        <%= link_to t("shared.buttons.contents"), [ @klass, :contents ], class: "btn join-item #{'btn-active' if controller_name == 'contents'}" %>
        <%= btn_link [ :new, @klass, :content ], nil, icon: :add, classes: "btn-square btn-neutral join-item" if policy(Content.new(klass: @klass)).new? %>
      </div>

      <div class="join">
        <%= link_to t("shared.buttons.assignments"), [ @klass, :assignments ], class: "btn join-item #{'btn-active' if %w[assignments submissions].include?(controller_name)}" %>
        <%= btn_link [ :new, @klass, :assignment ], nil, icon: :add, classes: "btn-square btn-neutral join-item" if policy(Assignment.new(klass: @klass)).new? %>
      </div>

      <div class="join">
        <%= link_to t("shared.buttons.announcements"), [ @klass, :announcements ], class: "btn join-item #{'btn-active' if %w[announcements].include?(controller_name)}" %>
        <%= btn_link [ :new, @klass, :announcement ], nil, icon: :add, classes: "btn-square btn-neutral join-item" if policy(Announcement.new(klass: @klass)).new? %>
      </div>

      <%= link_to t("shared.buttons.grades"), [ @klass, :grades ], class: "btn join-item #{'btn-active' if %w[grades].include?(controller_name)}" if @user.student? %>

      <div class="join">
        <%= link_to t("shared.buttons.teachers"), [ @klass, :teachers ], class: "btn join-item #{'btn-active' if controller_name == 'teachers'}" %>
        <%= btn_link [ :new, @klass, :teacher ], nil, icon: :add, classes: "btn-square btn-neutral join-item" if policy(Teacher).new? %>
      </div>

      <div class="join">
        <%= link_to t("shared.buttons.students"), [ @klass, :students ], class: "btn join-item #{'btn-active' if controller_name == 'students'}" %>
        <%= btn_link [ :new, @klass, :student ], nil, icon: :add, classes: "btn-square btn-neutral join-item" if policy(Student).new? %>
      </div>
    </div>

    <div class="divider mt-0"></div>
  <% end %>
<% end %>

<%= render template: "layouts/dashboard" %>
