<div class="flex justify-between gap-1">
  <%= render "shared/search", url: @course.present? ? [ :course, :klasses ] : [ :klasses ] %>
  <%= btn_link [ :new, @course, :klass ], nil, icon: :add, classes: 'btn' if @course.present? && policy(Klass).new? %>
</div>

<%= tag.h1 "#{@course.name} #{@course.number}", class: 'text-xl font-semibold mt-4' if @course.present? %>
<%= @course.description if @course.description if @course.present? %>

<div class="divider"></div>

<div id="klasses">
  <% if @course.present? %>
    <%= render "shared/display_items", items: @klasses do |klass| %>
      <div class="flex flex-col">
        <%= link_to "Class #{klass.code}", [ klass ], class: 'link link-hover text-xl' %>
        <div>
          <% klass.teachers.each do |teacher| %>
            <%= tag.span teacher.user.name, class: [ "badge badge-secondary", teacher.user_id == @user.id ? "badge" : "badge-soft" ] %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% else %>
    <%= render "shared/display_items", items: @klasses do |klass| %>
      <div class="flex flex-col">
        <%= link_to "#{klass.course.name} #{klass.course.number} - #{klass.code}", [ klass ], class: 'link link-hover text-xl' %>
        <%= klass.course.description if klass.course.description %>
        <div>
          <% klass.teachers.each do |teacher| %>
            <%= tag.span teacher.user.name, class: [ "badge badge-secondary", teacher.user_id == @user.id ? "badge" : "badge-soft" ] %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
